<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="/view.css" type="text/css" rel="stylesheet">
    <script src="/controller.js" type="application/javascript"> </script>
    <title>R&amp;D Portfolio Evaluation</title>
    <h1>{{ technology_model }}</h1>
</head>

<body onload="setup()">

    <div class="output--grid">
        <div></div>
        <div></div>
        <div class="output--header">
            <div>
                <h3>Explore Investment Scenario</h3>
                <input id="explore_mode"
                    type="checkbox"
                    onclick="updateMode()"
                    checked>
                </input>
                <!-- <label>explore</label> -->
            </div>
            <div>
                <h3>Optimize</h3>
                <span>Select metric to optimize.</span>
                <!-- <br /> -->
                <select id="optimize_metric">
                    {% for metric in metrics.index %}
                    {% set met = loop.index - 1 -%}
                    <option value="{{met}}">{{ metrics.index[met] }}</option>
                    {% endfor %}
                </select>
                <br />
                <!-- button: optimize! -->
                <button id="optimize_button"
                onclick="optimize()"
                disabled>optimize</button>
            </div>
            <div>
                <h3>Display</h3>
                <select id="plot_type" onchange="updateAllPlots()">
                    {% for typ in plot_types %}
                    <option value="{{typ}}">{{ typ }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <!-----------------!
         !--     TOP     --!
         !------------------>
        <div></div>
        <div></div>
        <!------------------------------------!
         !--     COLUMN HEADERS             --!
         !--     Metric names and units     --!
         !------------------------------------->
        <div class="output--visualization">
            {% for metric in metrics.index %}
            {% set met = loop.index - 1 -%}
            <div class="metric">
                <span>{{ metrics.index[met] }}</span>
                <br />
                <span>[{{ units.values[met] }}]</span>
                <br />
                <!-- metric slider (visual) -->
                <input id="metlimwid_{{met}}" class="metlimwid" type="range"
                    min="{{ - metrics.iloc[met]['Value Max'] }}"
                    max="{{ - metrics.iloc[met]['Value Min'] }}"
                    step="{{ (metrics.iloc[met]['Value Max'] - metrics.iloc[met]['Value Min']) / 100 }}"
                    value="{{ - (metrics.iloc[met]['Value Max'] + metrics.iloc[met]['Value Min']) / 2 }}"
                    onchange="updateMetric(event.target)"
                    disabled />
                <br />
                <!-- metric sense (visual) -->
                <select id="metsense_{{met}}" class="metsense" disabled>
                    <option value="min">Upper</option>
                    <option value="max">Lower</option>
                </select>
                <!-- <label class="container">min
                    <input id="metsense_{{met}}" class="metsense"
                        type="checkbox"
                        checked
                        disabled
                    >
                </label> -->
                <!-- metric slider (numeric) -->
                <label id="metlimlab_{{met}}" class="metlimlab" for="metlimwid_{{met}}">bound: 0</label>
            </div>
            {% endfor %}
        </div>
        <!-- CATEGORY NAMES -->
        <div class="output--category">
            {% for category in categories %}
            {% set cat = loop.index - 1 -%}
            <div>
                {{ categories.index[cat] }}
            </div>
            {% endfor %}
        </div>
        <!-- INVESTMENT SLIDERS -->
        <div class="output--category">
            {% for category in categories %}
            {% set cat = loop.index - 1 -%}
            <div>
                <!-- investment value (visual) -->
                <meter id="invoptwid_{{cat}}" class="invoptwid invpart"
                    min="0"
                    max="{{ categories.values[cat] }}"
                    value="{{ categories.values[cat] / 2 }}">
                </meter>
                <br />
                <!-- investment value (numeric) -->
                <label id="invoptlab_{{cat}}" class="invoptlab" for="invoptwid_{{cat}}">
                    Current: $0
                </label>
                <br />
                <!-- investment slider (visual) -->
                <input id="invlimwid_{{cat}}" class="invlimwid" type="range"
                    min="0"
                    max="{{ categories.values[cat] }}"
                    step="1000"
                    onchange="updateInvest(event.target)" />
                <br />
                    <!-- investment slider (numeric) -->
                    <label id="invlimlab_{{cat}}" class="invlimlab" for="invlimwid_{{cat}}">
                      Allowed: $0</label>
            </div>
            {% endfor %}
        </div>
        <!-- PLOTS -->
        <div class="output--visualization">
            {% for category in categories %}
            {% set cat = loop.index - 1 -%}
                {% for metric in metrics.index %}
                {% set met = loop.index - 1 -%}
                <div>
                    <img id="img_{{met}}_{{cat}}" class="plot" />
                </div>
                {% endfor %}
            {% endfor %}
        </div>
        
        <!-------------------!
         !--     TOTAL     --!
         !-------------------->
        <div class="metric"><span>Portfolio Totals</span></div>
        <div>
            <!-- total investment value (visual) -->
            <!-- <meter id="invoptwid_x"
                min="0"
                max="{{ categories.values.sum() }}"
                value="{{ categories.values.sum() / 2}}">
            </meter>
            <br /> -->
            <!-- total investment value (numeric) -->
            <!-- <label id="invoptlab_x" class="invoptlab" for="invoptwid_x">Current: $0</label>
            <br /> -->
            <!-- total investment slider (visual) -->
            <input id="invlimwid_x" class="invlimwid" type="range"
                min="0"
                max="{{ categories.values.sum() }}"
                step="1000"
                onchange="updateInvest(event.target)"
                disabled
            />
            <br />
            <!-- total investment slider (numeric) -->
            <label id="invlimlab_x" class="invlimlab" for="invlimwid_x">Allowed: $0</label>
        </div>
        <!-- plot metric totals -->
        <div class="output--visualization">
            {% for metric in metrics.index %}
            {% set met = loop.index - 1 -%}
            <div><img id="img_{{met}}_x" class="plot" /></div>
            {% endfor %}
        </div>
    </div>
</body>
</html>