<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="/view.css" type="text/css" rel="stylesheet">
    <script src="/controller.js" type="application/javascript"> </script>
    <title>R&amp;D Portfolio Evaluation</title>
    <h1>{{ technology_model }}</h1>
</head>

<body onload="setup()">

    <!-- <div class="output--grid">
        <div id="one">Image One</div>
        <div id="two">Image Two</div>
        <div id="three">Image Three</div>
        <div id="four">Image Four</div>
        <div id="five">Image Five</div>
        <div id="six">Image Six</div>
        <div id="seven">Image Seven</div>
        <div id="eight">Image Eight</div>
        <div id="nine">Image Nine</div>
    </div> -->

    <div class="output--grid">
        <div>
            <select id="plot_type" onchange="updateAllPlots()">
                {% for typ in plot_types %}
                <option value="{{typ}}">{{ typ }}</option>
                {% endfor %}
            </select>
        </div>
        <!-- METRICS -->
        <div class="output--visualization">
            {% for metric in metrics.index %}
            {% set met = loop.index - 1 -%}
            <div>
                <span>{{ metrics.index[met] }}</span>
                <br />
                <span>[{{ units.values[met] }}]</span>
            </div>
            {% endfor %}
        </div>
        <div></div>
        <!-- CATEGORY NAMES -->
        <div class="output--category">
            {% for category in categories %}
            {% set cat = loop.index - 1 -%}
            <div>
                {{ categories.index[cat] }}
            </div>
            {% endfor %}
        </div>
        <!-- PLOTS -->
        <div class="output--visualization">
            {% for category in categories %}
            {% set cat = loop.index - 1 -%}
                {% for metric in metrics.index %}
                {% set met = loop.index - 1 -%}
                <div>
                    <img id="img_{{met}}_{{cat}}" class="plot" />
                </div>
                {% endfor %}
            {% endfor %}
        </div>
        <!-- INVESTMENT SLIDERS -->
        <div></div>
    </div>
</body>
</html>