<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link href="view.css" type="text/css" rel="stylesheet">
    <script src="controller.js" type="application/javascript"> </script>
    <title>R&amp;D Portfolio Evaluation</title>
  </head>
  <body onload="setup()">
    <h1>R&amp;D Portfolio Evaluation</h1>
    <table>
       <thead>
         <tr>
           <th/>
           <th/ class="invest">
          {% for metric in metrics.index %} <!---->
          {% set met = loop.index - 1 -%}
           <!-- <th>{{ metrics.index[met] }}</th> -->
           <th><span>{{ metrics.index[met] }}</span>
            <br/>
            <span>[{{ units.values[met] }}]</span></th>
           {% endfor %}
           <!-- <th/>
           <th>Portfolio Total</th> -->
         </tr>


       </thead>
       <tbody>
         <!-- Row of metric sliders -->
         <tr>


          <td/>
          <td>
            <input id="explore_mode" type="checkbox" onclick="updateMode()"  checked> </input>
            <label>explore</label>
            <br/>
            <br/>
            <button id="optimize_button" onclick="optimize()" disabled>optimize</button>
            <br/>
            <select id="optimize_metric" disabled>
              {% for metric in metrics.index %}
              {% set met = loop.index - 1 -%}
              <option value="{{met}}">{{ metrics.index[met] }}</option>
              {% endfor %}
            </select>
          </td>

          {% for metric in metrics.index %} <!---->
          {% set met = loop.index - 1 -%}
          <td class="metric">
            <!-- <span>{{ metrics.index[met] }}</span>
            <br/>
            <span>[{{ units.values[met] }}]</span>
            <br/>
            <br/> -->
            <meter id="metoptwid_{{met}}" class="metoptwid" min="{{ metrics.iloc[met]['Value Min'] }}" max="{{ metrics.iloc[met]['Value Max'] }}"> </meter>
            <br/>
            <label id="metoptlab_{{met}}" class="metoptlab" for="metoptwid_{{met}}">Mean: 0</label>
            <br/>
            <input id="metlimwid_{{met}}" class="metlimwid" type="range" min="{{ - metrics.iloc[met]['Value Max'] }}" max="{{ - metrics.iloc[met]['Value Min'] }}" step="{{ (metrics.iloc[met]['Value Max'] - metrics.iloc[met]['Value Min']) / 100 }}" value="{{ - metrics.iloc[met]['Value Min'] }}" onchange="updateMetric(event.target)" disabled/>
            <br/>
            <label id="metlimlab_{{met}}" class="metlimlab" for="metlimwid_{{met}}">Required: 0</label>
           </td>
           {% endfor %}
           <td/>
           <td/>
         </tr>
         <!-- Show information for each category in its own row -->
         {% for category in categories %}
         {% set cat = loop.index - 1 -%}
         <tr>

          <td>{{ categories.index[cat] }}</td>

           <!-- Sliders to set bounds on investments -->
          <td class="invest">
            <meter id="invoptwid_{{cat}}" class="invoptwid invpart" min="0" max="{{ categories.values[cat] }}" value="{{ categories.values[cat] / 2 }}"> </meter>
            <br/>
            <label id="invoptlab_{{cat}}" class="invoptlab" for="invoptwid_{{cat}}">Current: $0</label>
            <br/>
            <input id="invlimwid_{{cat}}" class="invlimwid" type="range" min="0" max="{{ categories.values[cat] }}" step="1000" onchange="updateInvest(event.target)"/>
            <br/>
            <label id="invlimlab_{{cat}}" class="invlimlab" for="invlimwid_{{cat}}">Allowed: $0</label>
          </td>

          <!-- Plot metrics -->
          {% for metric in metrics.index %} <!---->
          {% set met = loop.index - 1 -%}
           <td><img id="img_{{met}}_{{cat}}" class="plot"/></td>
           <!-- <td class="metric">
             <span>{{ metrics.index[met] }}</span>
             <br/>
             <span>[{{ units.values[met] }}]</span>
             <br/>
             <br/>
             <meter id="metoptwid_{{met}}" class="metoptwid" min="{{ metrics.iloc[met]['Value Min'] }}" max="{{ metrics.iloc[met]['Value Max'] }}"> </meter>
             <br/>
             <label id="metoptlab_{{met}}" class="metoptlab" for="metoptwid_{{met}}">Mean: 0</label>
             <br/>
             <input id="metlimwid_{{met}}" class="metlimwid" type="range" min="{{ - metrics.iloc[met]['Value Max'] }}" max="{{ - metrics.iloc[met]['Value Min'] }}" step="{{ (metrics.iloc[met]['Value Max'] - metrics.iloc[met]['Value Min']) / 100 }}" value="{{ - metrics.iloc[met]['Value Min'] }}" onchange="updateMetric(event.target)" disabled/>
             <br/>
             <label id="metlimlab_{{met}}" class="metlimlab" for="metlimwid_{{met}}">Required: 0</label>
            </td> -->
            <!-- <td><img id="img_{{met}}_x" class="plot"/> -->
          <!-- </td> -->
          {% endfor %}
         </tr>
         {% endfor %}


         <tr>
           <td/>
          <td class="invest">
            <meter id="invoptwid_x" min="0" max="{{ categories.values.sum() }}" value="{{ categories.values.sum() / 2}}"> </meter>
            <br/>
            <label id="invoptlab_x" class="invoptlab" for="invoptwid_x">Current: $0</label>
            <br/>
            <input id="invlimwid_x" class="invlimwid" type="range" min="0" max="{{ categories.values.sum() }}" step="1000" onchange="updateInvest(event.target)" disabled/>
            <br/>
            <label id="invlimlab_x" class="invlimlab" for="invlimwid_x">Allowed: $0</label>
          </td>


          {% for metric in metrics.index %} <!---->
          {% set met = loop.index - 1 -%}
          <td><img id="img_{{met}}_x" class="plot"/></td>
          {% endfor %}


         </tr>


       </tbody>
       <tfoot>
         <tr>
           <!-- {% for category in categories %}
           {% set cat = loop.index - 1 -%}
           <td class="invest">
             <meter id="invoptwid_{{cat}}" class="invoptwid invpart" min="0" max="{{ categories.values[cat] }}" value="{{ categories.values[cat] / 2 }}"> </meter>
             <br/>
             <label id="invoptlab_{{cat}}" class="invoptlab" for="invoptwid_{{cat}}">Current: $0</label>
             <br/>
             <input id="invlimwid_{{cat}}" class="invlimwid" type="range" min="0" max="{{ categories.values[cat] }}" step="1000" onchange="updateInvest(event.target)"/>
             <br/>
             <label id="invlimlab_{{cat}}" class="invlimlab" for="invlimwid_{{cat}}">Allowed: $0</label>
           </td>
           {% endfor %} -->
           <!-- <td>
             <input id="explore_mode" type="checkbox" onclick="updateMode()"  checked> </input>
             <label>explore</label>
             <br/>
             <br/>
             <button id="optimize_button" onclick="optimize()" disabled>optimize</button>
             <br/>
             <select id="optimize_metric" disabled>
               {% for metric in metrics.index %}
               {% set met = loop.index - 1 -%}
               <option value="{{met}}">{{ metrics.index[met] }}</option>
               {% endfor %}
             </select>
           </td> -->
           <!-- <td class="invest">
             <meter id="invoptwid_x" min="0" max="{{ categories.values.sum() }}" value="{{ categories.values.sum() / 2}}"> </meter>
             <br/>
             <label id="invoptlab_x" class="invoptlab" for="invoptwid_x">Current: $0</label>
             <br/>
             <input id="invlimwid_x" class="invlimwid" type="range" min="0" max="{{ categories.values.sum() }}" step="1000" onchange="updateInvest(event.target)" disabled/>
             <br/>
             <label id="invlimlab_x" class="invlimlab" for="invlimwid_x">Allowed: $0</label>
           </td> -->
         </tr>
       </tfoot>
    </table>
    <div id="optimizing" class="modal_background">
      <div class="modal_content">
        <p><span id="optimizing_status">Optimizing . . .</span><span id="optimizing_result"></span></p>
        <button id="optimizing_close" onclick="closeOptimizing()" disabled>close</button>
      </div>
    </div>
  </body>
</html>
