<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link href="view.css" type="text/css" rel="stylesheet">
    <script src="controller.js" type="application/javascript"> </script>
    <title>R&amp;D Portfolio Evaluation</title>
  </head>
  <body onload="setup()">
    <h1>R&amp;D Portfolio Evaluation</h1>
    <table>
       <thead>
         <tr>
           {% for category in categories %}
           {% set col = loop.index - 1 -%}
           <th>{{ categories.index[col] }}</th>
           {% endfor %}
           <th/>
           <th>Portfolio Total</th>
         </tr>
       </thead>
       <tbody>
         {% for metric in metrics.index %}
         {% set row = loop.index - 1 -%}
         <tr>
           {% for category in categories %}
           {% set col = loop.index - 1 -%}
           <td><img id="img_{{row}}_{{col}}" class="plot"/></td>
           {% endfor %}
           <td class="metric">
             <span>{{ metrics.index[row] }}</span>
             <br/>
             <span>[{{ units.values[row] }}]</span>
             <br/>
             <br/>
             <meter id="metoptwid_{{row}}" class="metoptwid" min="{{ metrics.iloc[row]['Value Min'] }}" max="{{ metrics.iloc[row]['Value Max'] }}"> </meter>
             <br/>
             <label id="metoptlab_{{row}}" class="metoptlab" for="metoptwid_{{row}}">Mean: 0</label>
             <br/>
             <input id="metlimwid_{{row}}" type="range" min="{{ metrics.iloc[row]['Value Min'] }}" max="{{ metrics.iloc[row]['Value Max'] }}" step="{{ (metrics.iloc[row]['Value Max'] - metrics.iloc[row]['Value Min']) / 100 }}" value="{{ metrics.iloc[row]['Value Min'] }}"/>
             <br/>
             <label id="metlimlab_{{row}}" class="metlimlab" for="metlimwid_{{row}}">Required: 0</label>
           </td>
           <td><img id="img_{{row}}_x" class="plot"/></td>
         </tr>
         {% endfor %}
       </tbody>
       <tfoot>
         <tr>
           {% for category in categories %}
           {% set col = loop.index - 1 -%}
           <td class="invest">
             <meter id="invoptwid_{{col}}" min="0" max="{{ categories.values[col] }}" value="{{ categories.values[col] / 2 }}"> </meter>
             <br/>
             <label id="invoptlab_{{col}}" class="invoptlab" for="invoptwid_{{col}}">Current: $0</label>
             <br/>
             <input id="invlimwid_{{col}}" class="islider" type="range" min="0" max="{{ categories.values[col] }}" step="1000" onchange="updateInvestment(event.target)"/>
             <br/>
             <label id="invlimlab_{{col}}" class="invlimlab" for="invoptwid_{{col}}">Allowed: $0</label>
           </td>
           {% endfor %}
           <td><button>optimize</button></td>
           <td class="invest">
             <meter id="invoptwid_x" min="0" max="{{ categories.values.sum() }}" value="{{ categories.values.sum() / 2}}"> </meter>
             <br/>
             <label id="invoptlab_x" class="invoptlab" for="invoptwid_x">Current: $0</label>
             <br/>
             <input id="invlimwid_x" type="range" min="0" max="{{ categories.values.sum() }}" step="1000" onchange="updateInvestment(event.target)"/>
             <br/>
             <label id="invlimlab_x" class="invlimlab" for="invlimwid_x">Allowed: $0</label>
           </td>
         </tr>
       </tfoot>
    </table>
  </body>
</html>
