.ipynb_checkpoints/
__pycache__/
*.tmp
tmp/
*.sw?
.~lock.*#
.idea/
_build/
_static/
_templates/
__pycache__/
.ipynb_checkpoints/

src/eutychia/assets/
src/eutychia/env/
src/eutychia-2101/
*.lp
.spyproject/config/workspace.ini
.spyproject/config/vcs.ini
.spyproject/config/encoding.ini
.spyproject/config/defaults/defaults-workspace-0.2.0.ini
.spyproject/config/defaults/defaults-vcs-0.2.0.ini
.spyproject/config/defaults/defaults-encoding-0.2.0.ini
.spyproject/config/defaults/defaults-codestyle-0.2.0.ini
.spyproject/config/codestyle.ini
.DS_Store
