.ipynb_checkpoints/
__pycache__/
*.tmp
tmp/
*.sw?
.~lock.*#
.idea/
_build/
_static/
_templates/
__pycache__/
.ipynb_checkpoints/

eutychia/assets/
eutychia/env/
eutychia-2101/
*.lp
.spyproject/
.DS_Store

tyche_env/
