/* https://stackoverflow.com/a/25003865 */
html, body, buttons, input, textarea {
    font-family: Gill Sans;
}

/* https://www.w3schools.com/howto/howto_css_three_columns.asp */
/* .column {
    float: left
  ; width: 33.33%
} */

/* Clear floats after the columns */
/* .row:after {
    content: ""
  ; display: table
  ; clear: both
} */


/* Content grid */
.output--grid { 
    display: grid
  ; grid-template-columns:  150px 200px 1fr
  ; background-color: beige
}
.output--grid > div { 
    background-color: blue;
    background-color: white;
    margin: 10px;
}


/* Plots */
.output--visualization { 
    display: grid; 
    grid-template-columns:  1fr 1fr 1fr;
    background-color: beige;   
}
.output--visualization > div {
    background-color: white;
    margin: 0px;
}


/* Options */
.output--header {
    background-color: white
  ; display: grid
  ; grid-template-columns: 1fr 1fr 1fr
}
.output--header > div { 
    background-color: white
  ; text-align: left
  ; float: left
  ; margin-left: 15%
  ; margin-right: 15%
}


/* Categories */
.output--category{ 
    background-color: beige;
    display: flex;
    flex-direction: column;
}
.output--category > div { 
    /* background-color: plum;
    border-color: palegreen; */
    height: 100px;
    margin: 0px;
}


.metric {
    text-align: center
  ; font-family: Gill Sans
}


/* .modal_content {
    background-color: #fefefe
  ; margin          : 15% auto
  ; padding         : 20px
  ; border          : 1px solid #888
  ; width           : 33%
  ; border-radius   : 20px
} */

/* Optimization options */
#optimizing_status {
    font-style: italic
}

#optimize_button, #optimize_metric {
    width: 7em
}

/* Plots */
.plot {
    align-items: center
  /* ; font-style: italic */
}


h1 {
    margin    : 0
  ; font-size : 2em
  ; text-align: center
  ; text-transform: uppercase
}

h3 {
    margin: 0.25ex
}