/* Content grid */
.output--grid { 
    display: grid; 
    grid-template-columns:  150px 1fr 200px;
    background-color: beige;   
}
.output--grid > div { 
    /* background-color: green; */
    background-color: white;
    margin: 10px;
}

/* Metrics */
.output--visualization { 
    display: grid; 
    grid-template-columns:  1fr 1fr 1fr;
    background-color: beige;   
}
.output--visualization > div { 
    /* background-color: green; */
    /* text-align: center; */
    background-color: white;
    margin: 0px;
}

.metric {
    text-align: center
  ; font-family: Gill Sans
}

/* Categories */
.output--category{ 
    display: flex;
    flex-direction: column;
    background-color: beige;
}
.output--category > div { 
    /* background-color: plum;
    border-color: palegreen; */
    font-family: Gill Sans;
    height: 100px;
    margin: 0px;
}



/* .modal_content {
    background-color: #fefefe
  ; margin          : 15% auto
  ; padding         : 20px
  ; border          : 1px solid #888
  ; width           : 33%
  ; border-radius   : 20px
} */

/* Optimization options */
#optimizing_status {
    font-style: italic
}
#optimize_button, #optimize_metric {
    width: 7em
}

/* Plots */
.plot {
    align-items: center
  /* ; font-style: italic */
}


h1 {
    margin    : 0
  ; font-size : 2em
  ; text-align: center
  ; text-transform: uppercase
  ; font-family: Gill Sans
} 