
.metric {
  width     : 1px
; text-align: center
}

.metric meter, .metric input {
  width: 100%
}

.invest {
  align-items: center
}

.invest meter, .invest input {
  width: 90%
}

table {
  width : 100%
; height: calc(100% - 4em)
}

h1 {
  margin    : 0
; font-size : 2em
; text-align: center
}

body {
  height: 100vh
; margin: 0px
}
